@page "/"

<PageTitle>Pagina Principal</PageTitle>
<center>
	<h1>Bienvenido a tu pagina de Tickets</h1>
</center>

<img src="https://img.myloview.com/posters/logo-compra-entrada-online-icono-ticket-como-casilla-de-verificacion-con-cheque-con-lineas-en-color-gris-y-verde-400-285337153.jpg" />



